.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000e1;
    color: white;
    padding: 20px 0;
}

.footer > section:first-child{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 150px;
}

.footer > section:first-child > *{
    width: 20%;
}